{% extends "boilerplate.html" %}

{% block head %}
	<title>All The Products!</title>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="well">
					<div class="row">
						<div class="col-md-4 col-xs-12">
							<h2>Categories</h2>
							{% if categories %}
								<ul class="list-group">
									{% for category in categories %}
									<li class="list-group-item"><a href="{{ url_for('itemsByCategory', category_id=category.id) }}">{{category.name}}</a></li>
									{% endfor %}
								</ul>
							{% else %}
								<div class="alert alert-info">
									<h2>Aw snap!</h2>
									<p>There's no categories yet <i class="material-icons">sentiment_very_dissatisfied</i></p>
								</div>
							{% endif %}
						</div>
						<div class="col-md-8 col-xs-12">
							<h2>Latest Items</h2>
							{% if latest_items %}
								<ul class="list-group">
									{% for item in latest_items %}
									<li class="list-group-item"><a href="{{url_for('itemByItem', item_id=item.id, category_id=item.category.id)}}">{{item.name}}</a></li>
									{% endfor %}
								</ul>
							{% else %}
								<div class="alert alert-info">
									<h2>Aw snap!</h2>
									<p>There's not items yet <i class="material-icons">sentiment_very_dissatisfied</i></p>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>	
		</div>	
	</div>
{% endblock %}